.js-clock{
  width: 200px;
  height: auto;
  position: absolute;
  left: 50%; top: 20%;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  text-align: center;
}

.form{
  width: 300px;
  height: auto;
  position: absolute;
  left: 50%; top: 30%;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  text-align: center;
}
.form input{
  width: 100%;
  height: 30px;
}

ul{
  width: 300px;
  height: auto;
  position: absolute;
  left: 50%; top: 40%;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}