.js-clock{
  width: 200px;
  height: auto;
  position: absolute;
  left: 50%; top: 20%;

  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  text-align: center;
}